export(soda)
export(soda_trace_CV)
export(s_soda)
export(s_soda_model)
export(s_soda_pred)
export(s_soda_pred_grid)
import(nnet)
import(MASS)
import(mvtnorm)
importFrom("stats", "coef", "qnorm", "cov", "lm", "poly")
importFrom("grDevices", "terrain.colors")
importFrom("graphics", "par", "persp", "title")
